asgiref==3.5.2
backports.zoneinfo==0.2.1
Django==3.2.3
django-ckeditor==6.5.1
django-cleanup==5.2.0
django-cors-headers==3.7.0
django-filter==22.1
django-js-asset==2.0.0
djangorestframework==3.12.4
pi==0.1.2
Pillow==9.2.0
psycopg2-binary==2.8.6
python-dotenv==0.20.0
pytz==2021.1
sqlparse==0.4.1
